I'm going to be organizing the data set, which includes

In [29]:
import pandas as pd
import streamlit
import plotly.express
import altair

In [30]:
df = pd.read_csv('../vehicles_us.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

'model_year', 'cylinders', 'odometer', 'paint_color', and 'is4wd' have null values.

In [31]:
df.sample(10, random_state=1)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
26221,9995,2013.0,ford fusion se,excellent,4.0,gas,73597.0,automatic,sedan,white,NaN,2018-07-21,29
48959,17995,2014.0,gmc acadia,excellent,6.0,gas,86432.0,automatic,SUV,white,NaN,2018-10-10,43
46104,8081,2006.0,ford f-150,excellent,8.0,gas,NaN,automatic,truck,silver,1.0,2019-03-04,9
27780,3995,2006.0,chevrolet tahoe,good,8.0,gas,247904.0,automatic,wagon,white,1.0,2018-12-06,33
5378,1990,2004.0,ford focus,like new,4.0,gas,123872.0,manual,hatchback,silver,NaN,2018-11-23,23
43576,1150,2000.0,jeep grand cherokee laredo,fair,NaN,gas,NaN,automatic,SUV,NaN,1.0,2018-12-18,28
43436,19995,2014.0,chevrolet silverado 1500,excellent,NaN,gas,145500.0,automatic,pickup,black,1.0,2018-10-22,48
36119,6900,2000.0,toyota tundra,like new,8.0,gas,149000.0,automatic,truck,red,NaN,2018-05-23,82
5044,8995,2011.0,gmc yukon,excellent,8.0,gas,233409.0,automatic,SUV,black,1.0,2018-11-15,24
23465,7995,2007.0,ram 1500,like new,8.0,gas,NaN,automatic,truck,green,1.0,2019-02-04,35

'is_4wd' has null values, and should be a boolean data type

In [32]:
# Fill na values with 0 to indicate not 4wd
df['is_4wd'] = df['is_4wd'].fillna(0)

# replace datatype with bool, to change 1 and 0 to T and F
df['is_4wd'] = df['is_4wd'].astype('bool')
df.sample(10, random_state=1)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
26221,9995,2013.0,ford fusion se,excellent,4.0,gas,73597.0,automatic,sedan,white,False,2018-07-21,29
48959,17995,2014.0,gmc acadia,excellent,6.0,gas,86432.0,automatic,SUV,white,False,2018-10-10,43
46104,8081,2006.0,ford f-150,excellent,8.0,gas,NaN,automatic,truck,silver,True,2019-03-04,9
27780,3995,2006.0,chevrolet tahoe,good,8.0,gas,247904.0,automatic,wagon,white,True,2018-12-06,33
5378,1990,2004.0,ford focus,like new,4.0,gas,123872.0,manual,hatchback,silver,False,2018-11-23,23
43576,1150,2000.0,jeep grand cherokee laredo,fair,NaN,gas,NaN,automatic,SUV,NaN,True,2018-12-18,28
43436,19995,2014.0,chevrolet silverado 1500,excellent,NaN,gas,145500.0,automatic,pickup,black,True,2018-10-22,48
36119,6900,2000.0,toyota tundra,like new,8.0,gas,149000.0,automatic,truck,red,False,2018-05-23,82
5044,8995,2011.0,gmc yukon,excellent,8.0,gas,233409.0,automatic,SUV,black,True,2018-11-15,24
23465,7995,2007.0,ram 1500,like new,8.0,gas,NaN,automatic,truck,green,True,2019-02-04,35